<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Elegir Fecha</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../JS/jquery-3.2.1.js" language="javascript1.5"></script>
<script src="../JS/dhtmlReportes.js" language="javascript1.5"></script>
<script src="../JS/Javascript.js" language="javascript1.5"></script>
<link rel="stylesheet" href="../Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../Estilos/estilosReportes.css">
</head>

<body>
<div id="containerFecha" class="container">
  <header></header>
  <section id="sectionFecha">
    <h2>Seleccione la Fecha del Reporte</h2>
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date'>
            <input id="fecha" type='date' class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
    </div>
    <button id="btngreporte">Generar Reporte</button>
  </section>
  <footer></footer>
</div>
</body>
</html>
