<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Elegir Fecha</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../JS/jquery-3.2.1.js" language="javascript1.5"></script>
<script src="../JS/dhtmlReportes.js" language="javascript1.5"></script>
<script src="../JS/Javascript.js" language="javascript1.5"></script>
<link rel="stylesheet" href="../Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../Estilos/estilosReportes.css">
</head>

<body onLoad="mostrarReporte()">
<div id="containerFecha" class="container">
  <header></header>
  <section id="sectionFecha">
    <h2>Seleccione la Fecha del Reporte</h2>
    <table class="table" width="150" border="1">
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td ><h2>Totales del Día</h2></td>
          <td><h2>Totales Acumuladas del Mes</h2></td>
        </tr>
        <tr>
          <td><h2>Ventas</h2></td>
          <td><h2 id="ventasdia">00</h2></td>
          <td><h2 id="ventasmes">00</h2></td>
        </tr>
        <tr>
          <td><h2>Gastos</h2></td>
          <td><h2 id="gastosdia">00</h2></td>
          <td><h2 id="gastosmes">00</h2></td>
        </tr>
        <tr>
          <td><h2>Ganancias</h2></td>
          <td><h2 id="gananciasdia">00</h2></td>
          <td><h2 id="gananciasmes">00</h2></td>
        </tr>
      </tbody>
    </table>
    <button id="btnredetallado">Reporte Detallado</button>
    <button id="btnresalir">Salir</button>
  </section>
  <footer></footer>
</div>
</body>
</html>
