<!doctype html>
<html>
<head>
<link href="../Includes/Bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../Css/HojasPagina.css" rel="stylesheet">
<link href="../Css/Animaciones.css" rel="stylesheet">
<script src="../Includes/jquery-3.2.1.js" language="javascript1.5"></script>
<script src="../Js/javascript.js" language="javascript1.5"></script>
<script src="../Js/Javascript2.js" language="javascript1.5"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Inicio</title>
</head>
<body>
<div class="container" style="height:100vh">

  <nav class="col-xs-12 nav" id="entrada"> </nav>
  <header class="col-xs-12 header nopadding"><img src="../Imagenes/Banners/cropped-banner.jpg" width="100%" height="100%"></a></header>
<nav class="col-xs-2 nav2" style="height: auto">
<ul>
  <li class="licentrado col-xs-12"><a href="Registro.html" target="I1" class="nounderline">Administracion Productos</a></li>
  <li class="licentrado col-xs-12"><a href="RegistrarGastoDiario.php" target="I1" class="nounderline">Ingresar Gasto Diario</a></li>
  <li class="licentrado col-xs-12"><a href="aumentarProducto.html" target="I1" class="nounderline">Adicionar Productos A La Base</a></li>
  <li class="licentrado col-xs-12"><a href="RegistroPedidoCliente.html" target="I1" class="nounderline">Ingresar Pedido Cliente</a></li>
  <li class="licentrado col-xs-12"><a href="IniciarRegistroTiempoMesas.html" target="I1" class="nounderline">Iniciar Registro Tiempo</a></li>
  <li class="licentrado col-xs-12"><a href="fechaReporte.html" target="I1" class="nounderline">Generar Reporte Por Fecha</a></li>
  <li class="licentrado col-xs-12"><a href="seleccionMesa.html" target="I1" class="nounderline">Liquidar Mesa</a></li>
  <li class="licentrado col-xs-12"><button onClick="terminarDia()">Terminar Día</button></li>
</ul>
</nav>
<section class="col-xs-10 section nopadding">
<div class="col-xs-12 nopadding" style="height:100%"><iframe name="I1" width="100%" height="100%" ></iframe></div

></section>
</div>
<footer >
</footer>
</div>
</body>
</html>
