<!doctype html>
<html>
<head>
<link href="../Includes/Bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../Css/HojasPagina.css" rel="stylesheet">
<link href="../Css/Animaciones.css" rel="stylesheet">
<script src="../Js/javascript.js"></script>
<script src="../Includes/jquery-3.2.1.js" language="javascript1.5"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Registro de nuevos productos</title>
</head>
<body onLoad="metodoLlenarSelect()">
<div class="container" style="height:100vh">
  <section class="col-xs-12 section">
    <div class="container nopadding" align="center">
      <div class="row nopadding" style="width:94%">
        <div class="col-xs-12" style="margin-bottom:30px; border-bottom:1px solid;" align="center">
          <p style="font-size:160%; font-family:courier; margin-top:50px;" >Registrar nuevo producto</p>
          <table border="0" class="centrada">
            <tr>
              <td align="right"><p style="font-size:160%; font-family:courier;">Producto:</p></td>
              <td><input type="text" id="entryNombre" class="Datos" autocomplete="off" placeholder="Nombre producto..."></td>
            </tr>
            <tr>
              <td align="right"><p style="font-size:160%; font-family:courier;">Precio:</p></td>
              <td><input type="text" id="entryPrecio" class="Datos" autocomplete="off" placeholder="Precio producto..."></td>
            </tr>
            <tr>
              <td></td>
              <td align="right"><button id="btnIngreso" onClick="RegistroProductos()"> Registrar</button></td>
            </tr>
          </table>
        </div>
        <div class="col-xs-12" align="center">
          <p style="font-size:160%; font-family:courier;" >Productos registrados</p>
          <table border="0" class="centrada">
            <tr>
              <select onchange="consultarDatosProductos()" id="listaDesplegable" name="select" style="width: 400px;">
                <option disabled="true" selected="selected"  value="no">Seleccione una producto...</option>
              </select>
            </tr>
            <tr>
              <td align="right"><p style="font-size:160%; font-family:courier;">Producto:</p></td>
              <td><input type="text" id="entryNombre2" class="Datos2" autocomplete="off" placeholder="Nombre Producto..."></td>
            </tr>
            <tr>
              <td align="right"><p style="font-size:160%; font-family:courier;">Precio:</p></td>
              <td><input type="text" id="entryPrecio2" class="Datos2" autocomplete="off" placeholder="Precio Producto..."></td>
            </tr>
            <tr>
              <td></td>
              <td align="center"><button id="btnIngreso" onClick="editarProductos()"> Guardar</button></td>
              <td align="right"><button id="btnIngreso" onClick="eliminarProductos()"> Eliminar</button></td>
              <td align="right"><button id="btnAumentar" onClick="aumentarProducto()"> Aumentar Producto</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <footer > </footer>
</div>
</body>
</html>
