<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Selección de Mesa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../Js/jquery-3.2.1.js" language="javascript1.5"></script>
<script src="../Js/Javascript2.js" language="javascript1.5"></script>
<link rel="stylesheet" href="../Includes/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../Css/estilosReportes.css">
</head>

<body onLoad="mostrarMesas()">
<div id="containerG" class="container">
  <section id="sectionMesas"> 
  <div id="titulom"><h3>Seleccione la Mesa a Liquidar</h3></div>
  <div id="containerMesas">

  </div>
  	<button id="btnatras" class="btngoback">Atrás</button>
  </section>
</div>
</body>
</html>
