<!doctype html>
<html>
<head>
<link href="../Includes/Boostrap/css/bootstrap.css" rel="stylesheet">
<link href="../Css/HojasPagina.css" rel="stylesheet">
<link href="../Css/Animaciones.css" rel="stylesheet">
<script src="../Js/javascript.js" language="javascript1.5"></script>
<script src="../Includes/jquery-2.1.0.min.js" language="javascript1.5"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Aumento Inventario</title>
</head>
<body onLoad="metodoLlenarSelect()">
<div class="container" style="height:100vh">
<nav class="col-xs-12 nav" id="entrada">
</nav>



<header class="col-xs-12 header nopadding"><img src="../Imagenes/Banners/cropped-banner.jpg" width="100%" height="100%"></a></header>
<section class="col-xs-12 section">


<div class="container nopadding" align="center">
	<div class="row nopadding" style="width:94%">
    	<div class="col-xs-12" style="margin-bottom:30px; border-bottom:1px solid;" align="center">
        </div>
		<div class="col-xs-12" align="center">    
		<p style="font-size:160%; font-family:courier;" >Productos registrados</p>
        	<table border="0" class="centrada">
        <tr>
        
        	<select onchange="consultarDatosInventario()" id="listaDesplegable" name="select" style="width: 400px;">
  <option disabled="true" selected="selected"  value="no">Seleccione una producto...</option> 
</select>
</tr>
<tr>
            <td align="right"><p style="font-size:160%; font-family:courier;">Producto:</p></td>
            <td><input type="text" id="nombreProducto" class="Datos2" autocomplete="off" placeholder="Nombre Producto..." disabled="true"></td>
        </tr>
         <tr>
            <td align="right"><p style="font-size:160%; font-family:courier;">Cantidad Inventario:</p></td>
            <td><input type="text" id="cantidadProductoInventario" class="Datos2" autocomplete="off" placeholder="Cantidad Producto..." disabled="true"></td>
            <input type="hidden" id="entryPrecio">
        </tr>
        </table></div>
    </div>
    &nbsp;
    <h2>Cantidad a ingresar</h2>
    <table>
    	<tr>
        	<td align="right"><p style="font-size:160%; font-family:courier;">Cantidad:</p></td>
            <td><input type="text" id="cantidadProductoAumentar" class="Datos2" autocomplete="off" placeholder="Cantidad a adicionar..."></td>
        </tr>
        <tr>
        	 <td align="center"><button id="btnAumentarProducto" onClick="aumentarInventario()"> Guardar</button></td>
        </tr>
    </table>
</div>
</section>
<footer >
</footer>
</div>
</body>
</html>
