@charset "utf-8";
/* CSS Document */
.container
{
height:100vh;
background-color:#FFFFF;
}
.header
{
height:20%;
background-color:#000000;
width:100%


}

.nobackground{
  background-color: #333333 !important;
   text-decoration: none !important;
}

.nopaddingx {
padding-left:0px !important;
padding-right::0px !important;
}

.nopadding{
padding: 0px !important;	
	}


.nav
{
height:5%;
background-color:#333333;

}


.nav2 {
height:70%;
background-color:#333333;
align-content:center;

}

.scroll {
overflow-y:scroll;	
}

.section
{
height:70%;
background-color:#FFFFFF;
align-items:center;
align-content:center;

}
.footer
{
height:10%;
background-color:#000000;
}

@media (min-width:200px) { 
    .fuentes
	{
	 font-size:8px;
	}

}

@media (min-width:768px) { 

.fuentes
{
 font-size:26px;
	
}
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

.licentrado {
	 float: left !important;
	 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
	color: white;
    text-decoration: none;
	width:100%;
	height:20%;
	
}

a.nounderline:link   
{   
 text-decoration:none; 
  	color: white;
} 

table.centrada { 
	align:center; 
	text-align:center; 
	margin-top:20px;
	
} 

.hidden {
visibility:hidden;
display: none;
}